@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.product-list {
  @include componentStyle;
  padding-top: 50px;
  color: $genTextCol;
  flex: 1 1 auto;
  justify-content: flex-start;

  &__title {
    color: $genTextCol;
    font-size: 200%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &-wrapper {
    display: flex;
    align-items: center;

    flex-direction: column;
  }
  &-pcs {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 1199px) {
      justify-content: space-evenly;
    }
  }
}