@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.product-list {
  @include componentStyle;
  padding-top: 50px;
  color: $genTextCol;

  &__title {
    color: $genTextCol;
    font-size: 200%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &-controls {
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border-top: 1px solid $genLineCol;
    border-bottom: 1px solid $genLineCol;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-sorting {
      display: flex;

      &__name {
        font-size: 120%;
      }

      &_button {
        margin-left: 20px;
        font-size: 120%;
        color: $genTextCol;
        &:hover {
          cursor: pointer;
        }
      }
      &_icon {
        margin-left: 5px;
        font-size: 70%;
      }
    }
    &-search {
      display: flex;
      align-items: center;
      width: auto;
      border-left: 1px solid $genLineCol;
      color: $genLineCol;
      
      &_input {
        font-size: 100%;
        height: 30px;
        color: $genTextCol;
        padding: 0 10px;
      }
    }
  }

  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &-pcs {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}