@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';


.delivery {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $genBackCol;
  flex: 1 1 auto;

  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}