@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.product-cart {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $genBackCol;
  flex: 1 1 auto;

  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    margin: 40px 0;
    color: $genTextCol;
  }

  &-table {
    display: flex;
    flex-direction: column;
    color: $genTextCol;

    &__line {
      width: 700px;
    }

    &-items {
      display: flex;
      padding: 0 20px;
      border-bottom: 1px solid $genLineCol;
    }
    &__card {
      display: flex;
      align-items: center;

      &_img {
        height: 120px;
        width: 150px;
        object-fit: cover;
      }

      &__name {
        font-size: 100%;
        font-weight: bold;
      }
    } 
    &__product {
      width: 400px;

      &__title {
        display: flex;
        align-items: center;
        color: $genTextCol;
          
        &:hover {
          cursor: pointer;
        }

      }
    
    }

    &__available {
      width: 100px;
    }
    &__total {
      width: 100px;
    }
    &__subtotal {
      width: 100px;
    }
    &__delete:hover {
      cursor: pointer;
    }

    &-header {
      padding: 10px 20px;
      display: flex;
      width: 100%;
      display: flex;
      background-color: rgb(53, 53, 53);
      
      &__name {
        color: $genTextCol;
        @include centerwithoutAlign;
      }
    }

    &-count {

      &-wrapper {
        display: flex;
        width: auto;
      }
      &_span {
        @include flexCenter;
        width: 25px;
        height: 25px;
        margin: 0.5px;
        background-color: rgb(53, 53, 53);
        border: 1px solid $genLineCol;
        color: $genTextCol;
      }
      &_button {
        @include flexCenter;
        width: 25px;
        height: 25px;
        margin: 0.5px;
        background-color: rgb(53, 53, 53);
        border: 1px solid $genLineCol;
        color: $genTextCol;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &__summ{
      justify-content: flex-end;
      margin-bottom: 30px;
    }

    &__delivery{
      display: flex;
      width: 100%;
      justify-content: flex-end;

      &_button {
        right: 20px;
        height: 40px;
        background-color: $genRed;
        width: 160px;
        color: $genTextCol;
        text-transform: uppercase;
        margin-bottom: 50px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
