@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.product-detail-description {
  @include componentStyle;
  padding-top: 50px;
  color: $genTextCol;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-info {
    width: 500px;
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 200%;
    }
    &__text {
      margin-bottom: 10px;
    }
  }

}