@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.header {
    @include componentStyle;
    position: relative;
    z-index: 999;
    box-shadow: 0px 0px 25px 0px $genRed;

    &__title {
        text-transform: uppercase;
        font-size: 150%;
        color: $genRed; 
        &__span {
            color: $genTextCol;
        }
    }
    &-wrapper {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-list {
        width: auto;
        display: flex;
        @include flexCenter;

        &_link {
            text-transform: uppercase;
            margin-left: 10px;
            font-size: 80%; 
            color: $genTextCol;

            &_login {
                font-weight: 800;
                @include center;
                width: 150px;
                height: 30px;
                border: 1px solid $genRed;
                border-radius: 5px;
            }
        }
    }

}