@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.footer {
    
    height: 100%;
    @include componentStyle;
    background: linear-gradient(90deg, rgba(55,255,71,1) 0%, rgba(255,40,254,1) 33%, rgba(48,125,255,1) 66%, rgba(255,23,23,1) 100%);

    &-wrapper {
        @include center;
        height: 50px;
        color: $genBackCol;
        font-size: 60%;
    }

    &__title {
        text-transform: uppercase;
        color: $genTextCol;
    }
}