@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.footer {
    @include componentStyle;
   

    &-wrapper {
        @include center;
        height: 50px;
        color: $genBackCol;
        font-size: 60%;
    }
}