@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.login {
  @include componentStyle;
  padding-top: 80px;
  color: $genTextCol;
  flex: 1 1 auto;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
  }

  &-form {

    &-container {
      height: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }

    &__input {
      background-color: $genTextCol;
      padding-left: 10px;
      width: 200px;
      height: 30px;
      border-bottom: 1px solid gray;

    }

    &__button {
      margin-bottom: 10px;
      width: 200px;
      background-color: $genRed;
      color: $genTextCol;
      font-weight: 900;
      height: 30px;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
      }
    }
  }

}