@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.login {
  @include componentStyle;
  padding-top: 80px;
  color: $genTextCol;
  flex: 1 1 auto;

  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
  }

  &-form {
    

    &_title {
      display: flex;
      width: 220px;
      justify-content: space-between;

      &_button{
        height: 30px;
        width: 50%;
        display: flex;
        justify-content: center;
        border: 1px solid $genLineCol;
        color: #959595;

        &__activate {
          border: none;
          color: $genTextCol;
          background-color: $genLineCol; 
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &-container {
      background-color: $genLineCol;
      padding: 10px;
      height: auto;
      display: flex;
      flex-direction: column;

    }

    &__input {
      background-color: $genTextCol;
      padding-left: 10px;
      width: 200px;
      height: 30px;
      border-bottom: 1px solid gray;

    }

    &__button {
      margin-top: 10px;
      width: 100%;
      background-color: $genLineCol;
      color: $genTextCol;
      font-weight: 900;
      height: 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }

}