@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';


.admin-image-editor {
  @include componentStyle;
  padding-top: 100px;
  color: $genTextCol;
  flex: 1 1 auto;

  &-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

  }


  &-canvas {
    width: 400px;
    height: 400px;
    border: 2px solid $inputBackground; 
    margin-right: 50px;
    @include flexCenter;
    position: relative;
        
  }

  &-controls {
    width: 200px;
    height: 400px;
    border: 2px solid $inputBackground;
  }
}

.canvas-container {
  position: absolute;
}